* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice {
  background-color: hsl(217, 19%, 24%);
  width: 450px;
  height: 300px;
  padding: 50px 20px 10px 20px;
  border-radius: 10px;
  position: relative; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.advice-description {
  color: hsl(150, 100%, 66%);
  font-size: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  
}
.advice-container {
  color: white;
  min-height:180px;
  font-size: 2.8rem;
  line-height: normal;
  display: flex;
  align-items: center;
}

.advice-value {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

img {
  /* display: block; */
}

img.divider {
 display: block;
}


img.roll-dice {
  position: absolute;
  width: 40px;
  bottom:-15px;
  padding: 10px;
  background-color: hsl(150, 100%, 66%);
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}